
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Курсова робота</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vac.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar-light border-bottom shadow-sm" style="background-image: url(../static/img/background.jpg); background-size: cover;">
    <h5 class="my-0 mr-md-auto font-weight-normal" style="color: white; border-radius: 5px; border: 2px solid whitesmoke; padding: 10px;">Kondratyuk AI Technologies</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-white" style="font-size: 20px;" href="/user">User</a>
    <a class="p-2 text-white" style="font-size: 20px;" href="/skill">Skill</a>
    <a class="p-2 text-white" style="font-size: 20px;" href="/userskill">User has skills</a>
    <a class="p-2 text-white" style="font-size: 20px;" href="/profession_skill">Profession has skills</a>
    <a class="p-2 text-white" style="font-size: 20px;" href="/profession">Profession</a>
    <a class="p-2 text-white" style="font-size: 20px;" href="/vacancy">Vacancy</a>
    <a class="p-2 text-white" style="font-size: 20px;" href="/dashboard">Dashboard</a>
    <a class="p-2 text-white" style="font-size: 20px;" href="/classification">Classification</a>
    <a class="p-2 text-white" style="font-size: 20px;" href="/real">Real</a>
  </nav>
  <a class="btn btn-primary" style="font-size: 16px;" href="/logout">Log out</a>
</div>

{#<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <div class="navbar-header">
      <a class="navbar-brand" href="/user">Yevhenii Moroziuk</a>
  </div>

  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/user">User</a></li>
    <li class="nav-item"><a class="nav-link" href="/skill">Skill</a></li>
    <li class="nav-item"><a class="nav-link" href="/userskill">User has skills</a></li>
    <li class="nav-item"><a class="nav-link" href="/profession_skill">Profession has skills</a></li>
    <li class="nav-item"><a class="nav-link" href="/profession">Profession</a></li>
    <li class="nav-item"><a class="nav-link" href="/vacancy">Vacancy</a></li>
    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="/classification">Classification</a></li>
    <li class="nav-item"><a class="nav-link" href="real">Real</a></li>
  </ul>

</nav>#}

<div class="container">

  {% block content %}<h1>Welcome page</h1>{% endblock %}

</div>

</body>
</html>